@mixin contact-form {
    background-color: rgba(255, 255, 255, 0.432);
    border: 1px $secondary-color solid;
    color: #594000;
    padding: 1rem;
    outline: none;
}

@mixin form-item {
    width: 80%;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

@mixin text-basic {
    color: $text-color;
    font-family: "Cormorant", serif;
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
    text-shadow: #1c1c1c 2px 2px 1px;
    text-align: justify;
}

@mixin shadow {
    box-shadow:#1c1c1c75 5px 3px 15px;
}

@mixin hide-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

