$btn: 10vh;
$dark-color: #1c1c1c;
$dark-color-08: #1c1c1cbf;
$link-color: #c1f8fd;
$bacrkground-color: #184040;
$bacrkground-color-dark: #0a1a1a;
$first-color: #1C8C8C;
$dark-blue: #050c1d;
$first-color-light: #27F2DE;
$secondary-color: #ce8139;
$secondary-color-light: #f3a760;
$secondarry-color-dark: #D95C14;
$ternary-color: #594000;
$text-color: #e5e4e2;

// Retro Futuristic Underwater Research Station with Gleaming Submersibles and Bioluminescent Coral Reefs
$f-1: #1C8C8C;
$f-2:#184040;
$f-3: #ACF2F2;
$f-4: #27F2DE;
$f-5: #D95C14;

// Brushed copper metallic sheet
$copper-1: #592202;
$copper-2: #401801;
$copper-3: #A65729;
$copper-4: #D98162;
$copper-5: #F2C4B3;

// A deep-sea creature with eight tentacles and bioluminescent eyes
$monster-1: #590424;
$monster-2: #021C26;
$monster-3: #144C59;
$monster-4: #2999A6;
$monster-5: #4BBFBF;

// Steampunk Office of Jules Verne
$office-1: #5DA698;
$office-2: #F2B807;
$office-3: #F28B0C;
$office-4: #A64812;
$office-5: #0D0D0D;

// Twenty Thousand Leagues Under the Sea
$l-1: #03261C;
$l-2: #517360;
$l-3: #85A68D;
$l-3: #D2F2C9;
$l-4: #0D0D0D;


