$btn: 10vh;
$dark-color: #1c1c1c;
$link-color: #c1f8fd;
$bacrkground-color: #184040;
$bacrkground-color-dark: #0a1a1a;
$first-color: #1C8C8C;
$first-color-light: #27F2DE;
$secondary-color: #ce8139;
$secondary-color-light: #f3a760;
$secondarry-color-dark: #D95C14;
$ternary-color: #594000;
$text-color: #e5e4e2;
